@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
<h1 style="color:#686868; font-size: 30px;margin-top: 20px;margin-bottom: 20px;font-weight: bold;">История продаж</h1>
 </center>


@*<div class="container">*@
<table class="table table-bordered table-striped" >
    <thead >
        <tr style="background: #2C3742">
            <th>
                <center><p style="font-size: 20px;color:white;margin-bottom: 0px;">№</p></center>
            </th>
            <th>
                <center><p style="font-size: 20px;color:white;margin-bottom: 0px;">Наименование</p></center>
            </th>
            <th>
                <center><p style="font-size: 20px;color:white;margin-bottom: 0px;">Сумма</p></center>
            </th>
            <th @*style="width: 200px"*@>
                <center><p style="font-size: 20px;color:white;margin-bottom: 0px;">Дата</p></center>
            </th>
            <th>
                <center><p style="font-size: 20px;color:white;margin-bottom: 0px;">Карта</p></center>
            </th>
            <th>
                <center><p style="font-size: 20px;color:white;margin-bottom: 0px;">Телефон</p></center>
            </th>

            <th>
                <center><p style="font-size: 20px;color:white;margin-bottom: 0px;">Почта</p></center>
            </th>
        </tr>
    </thead>

    <tbody>
        @{
            int a = 1;
        }
        @foreach (MvcApplication3.Models.Transaction all in ViewBag.Transaction)
        {
            <tr>
                <td>
                    <center>
                    
                          <p style="font-size: 16px;margin-bottom: 0px;">
                            @a
                        </p>
                    </center>
                </td>
                <td>
                    <center>
                    
                        <a href="/home/goods" style="font-size: 16px;margin-bottom: 0px;">
                            @all.Good.Name
                        </a>
                    </center>
                </td>
                <td>
                    <center>
                         <p style="font-size: 16px;margin-bottom: 0px;">
                           @all.Money.ToString("#,#").Replace(",", " ") <span>руб.</span> 
                        </p>
                    </center>
                </td>
                <td>
                    <center>
                          <p style="font-size: 16px;margin-bottom: 0px;">
                            @all.Date
                        </p>
                    </center>
                </td>
                <td>
                    <center>
                          <p style="font-size: 16px;margin-bottom: 0px;">
                            @all.Card
                        </p>
                    </center>
                </td>
                <td>
                    <center>
                         <p style="font-size: 16px;margin-bottom: 0px;">
                            @all.Phone
                        </p>
                    </center>
                </td>
                <td>
                    <center>
                           <p style="font-size: 16px;margin-bottom: 0px;">
                                     @all.Email
                                 </p>
                    </center>
                </td>
            </tr>
            a = a + 1;
        }

    </tbody>
</table>
@*    </div>*@