@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <center>
<h1 style="margin-left: 12px;color:#686868; font-size: 20px">История продаж </h1>
 </center>

@*<div class="container">*@
<table class="table table-bordered table-striped">
    <thead>
        <tr>
                        <th>
                <center><p style="font-size: 18px;color:#686868">№</p></center>
            </th>
            <th>
                <center><p style="font-size: 18px;color:#686868">Наименование</p></center>
            </th>
            <th>    
                <center><p style="font-size: 18px;color:#686868">Сумма</p></center>
            </th>
            <th @*style="width: 200px"*@>
                <center><p style="font-size: 18px;color:#686868">Дата</p></center>
            </th>
            <th>
                <center><p style="font-size: 18px;color:#686868">Карта</p></center>
            </th>
            <th>
                <center><p style="font-size: 18px;color:#686868">Телефон</p></center>
            </th>

            <th>
                <center><p style="font-size: 18px;color:#686868">Почта</p></center>
            </th>
        </tr>
    </thead>

    <tbody>
    @{
        int a = 1;
        }
        @foreach (MvcApplication3.Models.Transaction all in ViewBag.Transaction)
        {
            <tr>
                <td>
                    <center>
                    
                        <p>
                            @a
                        </p>
                    </center>
                </td>
                <td>
                    <center>
                    
                        <p>
                            @all.Good.Name
                        </p>
                    </center>
                </td>
                <td>
                    <center>
                        <p>
                           @all.Money.ToString("#,#").Replace(",", " ")
                        </p>
                    </center>
                </td>
                <td>
                    <center>
                        <p>
                            @all.Date
                        </p>
                    </center>
                </td>
                <td>
                    <center>
                        <p>
                            @all.Card
                        </p>
                    </center>
                </td>
                <td>
                    <center>
                        <p>
                            @all.User.Phone
                        </p>
                    </center>
                </td>
                <td>
                    <center> <p>
                                   @all.User.Email
                             </p></center>
                </td>
            </tr>
            a = a + 1;
        }
              
    </tbody>
</table>
@*    </div>*@